.overview {
  h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 36px;
    font-weight: 500;
    color: rgb(42, 42, 42);
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
    color: rgb(42, 42, 42);
  }

  &__links {
    padding-left: 0;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2.5rem;

    li {
      font-size: 12px;
      margin-right: 4rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    img {
      margin-right: 1rem;
      width: auto;
      height: 26px;
      object-fit: contain;
    }

    span {
      white-space: nowrap;
    }
  }

  &__live-tx {
    li {
      list-style-type: disc;
      font-size: 12px;
      color: rgb(42, 42, 42);
    }
  }

  &__pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3rem;

    > div {
      background: rgba(0, 0, 255, 0.05);
      font-size: 10px;
      padding: 3px 6px;
      min-width: 1rem;
      text-align: center;
      margin: 0 2px;
      cursor: pointer;
    }
  }

  img {
    width: 100%;
  }

  canvas {
    width: 80% !important;
    height: auto !important;
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  .img {
    &__architecture {
      margin: 4rem 0 8rem 0;
      width: 65%;
      margin-left: auto;
      margin-right: auto;
    }

    &__drl-model {
      margin: 3rem 0;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
      min-width: 300px;
    }

    &__drl-metrics {
      transform: translateX(-8rem);
    }
  }

  .ledger {
    &__item {
      padding: 1rem;
      border-bottom: 1px solid #ddd;
      width: 100%;
      margin: 1rem 0;

      &:first-child {
        border-top: 1px solid #ddd;
      }

      p,
      span {
        font-size: 12px;
        margin-bottom: 0;
        text-transform: capitalize;
      }

      button {
        width: 104px;
        height: 38px;
        color: white;
        border-radius: 4px;
        border: none;
        outline: none;
        font-size: 12px;
        padding: 4px;

        &:hover {
          opacity: 0.5;
        }

        &.beer {
          background-color: rgb(37, 62, 237);
        }
        &.cash {
          background-color: rgb(39, 163, 3);
        }
      }
    }

    &__wrapper {
      width: 100%;
      height: 500px;
      overflow: auto;
      margin-top: 3rem;
      padding-left: 3rem;
    }
  }

  &__filter {
    display: flex;
    margin-bottom: 0.5rem;
    cursor: pointer;
    margin-bottom: -2rem;
    margin-left: 5rem;

    &-item {
      text-align: center;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      margin-right: 3px;
      font-size: 12px;

      &.active {
        background: rgba(100, 100, 255);
      }
    }
  }

  &__game-model {
    position: relative;

    &__animation {
      animation: 0.5s infinite alternate fadeIn;
      animation-iteration-count: 10;
    }

    &__wrapper {
      display: flex;
      align-items: cener;
      justify-content: space-between;

      margin-bottom: 8rem;
    }

    &__item {
      &-image {
        width: 200px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: color;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
        padding: 8px;

        img {
          width: 35%;
          height: auto;
        }

        p {
          width: 100%;
          text-transform: capitalize;
        }
      }
      &-amount {
        text-align: center;
        margin-top: 1.5rem;

        .beer {
          margin-bottom: 0;
          color: rgb(37, 62, 237);
        }
        .cash {
          margin-bottom: 0;
          color: rgb(39, 163, 3);
        }
      }
    }

    &__ani {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-2rem);
      margin: 0 1rem;

      svg {
        width: 58px;
        height: 10px;
        margin: 1rem 0;
      }

      span {
        font-size: 12px;

        &:first-child {
          margin-bottom: -1rem;
          color: rgb(37, 62, 237);
        }

        &:last-child {
          margin-top: -1rem;
          color: rgb(39, 163, 3);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
