$color-brand: #87ede7;
$color-default: rgba(135, 237, 231, 0.27);
/*__________________ Global ______________________*/
*,
html,
body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  outline: 0px !important;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none !important;
  color: #5395ce;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 55px;
}

.text-blue {
  color: #5395ce;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: #000;
  font-family: 'Nunito', sans-serif;
}

.link-active {
  color: #87ede7 !important;
  text-decoration: underline !important;
}

.link-muted {
  color: rgba(135, 237, 231, 0.55) !important;
  text-decoration: none !important;
}
/*__________________ Global end ______________________*/

/*__________________ Buttons ______________________*/
.btn-brand {
  font-family: 'Nunito', sans-serif;
  background-color: $color-brand;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  &:active,
  &:hover,
  &focus {
    color: #fff;
  }
}

.btn-default {
  font-family: 'Nunito', sans-serif;
  background-color: $color-default;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  border: none;
  padding: 0 20px;
  height: 36px;
  cursor: pointer;
  &:active,
  &:hover,
  &focus {
    color: #fff;
  }
}
/*__________________ Buttons end ______________________*/

/*__________________ Forms ______________________*/
.custom-select {
  position: relative;
  width: 130px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background: rgba(255, 255, 255, 0.06);
  border: 2px solid rgba(217, 255, 253, 0.28) !important;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;

  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background: #000827;
  // top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid rgba(217, 255, 253, 0.28);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*__________________ Forms end ______________________*/

.wrapper {
  width: 100%;
  padding: 0 5%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(180deg, #01061c 0%, #000b30 100%);
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0px;
    background: url('../images/clouds.svg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
  }
}

/*____________ header start ____________*/
header {
  position: relative;
  .container {
    height: 100%;
  }
  .my-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .logo-container a {
    height: 37px;
    display: block;
    margin-top: 11px;
    img,
    svg {
      height: 100%;
      width: auto;
    }
  }
  .hamburger {
    display: none;
  }
  .my-navbar .menu {
    padding: 17px 0;
    ul {
      li {
        float: left;
        margin-left: 20px;
        a {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          &:hover,
          &:focus,
          &:active {
            color: $color-brand;
          }
          &.active {
            color: $color-brand;
          }
          &.disable {
            color: #666;
            img {
              height: 12px !important;
              width: auto !important;
            }
          }
        }
        &.dropdown {
          a {
            padding: 0px;
            &:after {
              border: none;
              margin-left: 0;
            }
          }
          ul {
            padding: 20px;
            li {
              margin-left: 0;
              a {
                font-weight: normal;
                line-height: 35px;
                &:hover,
                &:focus,
                &:active {
                  background: transparent !important;
                }
              }
            }
          }
        }
        &:last-child {
          position: relative;
          a {
            img {
              width: 20px;
              height: 20px;
            }
          }
          .hidden-search {
            display: none;
            position: absolute;
            top: 30px;
            right: 0px;
            width: 250px;
            .input-group-text {
              background-color: $color-brand;
              img {
                width: 16px;
              }
            }
          }
        }
      }
      > li > a {
        &:hover::after {
          width: 100%;
          //transition: width .3s;
        }
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: $color-brand;
          transition: width 0.3s;
        }
      }
    }
  }
  .btn {
    margin-left: auto;
    height: 44px;
    margin-top: 8px;
  }
} //header

.content {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  min-height: calc(100vh - 200px);
  .main-heading {
    color: #fff;
    margin: 50px 0;
  }
  .myrow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .left-main {
      width: 49%;
      .top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 150px;
        margin-bottom: 30px;
        .total {
          width: 29%;
          height: 100%;
          border: 2px solid rgba(217, 255, 253, 0.28);
          display: flex;
          justify-content: center;
          position: relative;
          background-color: #000b30;
          .center {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            h5 {
              color: #666;
              font-size: 14px;
              align-self: flex-start;
            }
            h4 {
              color: #fff;
              font-size: 22px;
              small {
                color: #666;
                font-size: 10px;
              }
            }
          }
          .icon-lock {
            position: absolute;
            bottom: 10px;
            right: 10px;
          }
        }
        .banner {
          width: 69%;
          height: 100%;
          background: url(../images/archer-banner.png) no-repeat center center;
          background-size: cover;
          padding: 10px;
          .center {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;
            height: 100%;
            h1 {
              line-height: 45px;
              color: #fff;
            }
            h3 {
              color: rgba(255, 255, 255, 0.43);
            }
          }
        }
      }
      .stats {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 2px solid rgba(217, 255, 253, 0.28);
        background-color: #000b30;
        padding: 20px;
        .block {
          width: 22%;
          p {
            color: rgba(255, 255, 255, 0.68);
            font-size: 12px;
            line-height: 19px;
            b {
              color: #fff;
            }
          }
          &:first-child {
            width: 34%;
            h3 {
              color: #fff;
            }
          }
        }
      }
    }
    .right-main {
      width: 49%;
      .mcrt-staking {
        background: #000b30;
        border: 1px solid #87ede7;
        box-shadow: 0px 0px 10px rgba(217, 255, 253, 0.5);
        padding: 20px;
        margin-bottom: 30px;
        .heading-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h3 {
            color: #fff;
            font-size: 22px;
          }
          .more-less {
            display: none;
          }
          .link-blue {
            color: $color-brand;
            text-decoration: underline !important;
          }
          a {
            color: #747474;
          }
        }
        .blocks-row {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 30px 0;
          .block {
            width: 33%;
            p {
              color: #666;
              font-weight: 600;
              font-size: 14px;
              b {
                color: #fff;
                font-size: 24px;
                font-weight: 600;
              }
              small {
                color: #666;
                font-weight: 600;
              }
            }
            h5 {
              color: #fff;
              font-size: 14px;
            }
          }
        }
        .btn-row {
          .btn-default {
            width: 120px;
          }
          a {
            color: #fff;
            margin-left: 20px;
            color: rgba(135, 237, 231, 0.55);
          }
        }
      }
      .staking {
        background: #000b30;
        border: 1px solid #87ede7;
        box-shadow: 0px 0px 10px rgba(217, 255, 253, 0.5);
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .left {
          width: calc(100% - 220px);
          h3 {
            color: #fff;
            font-size: 22px;
            line-height: 36px;
            float: left;
            margin-right: 20px;
          }
          input {
            border: 1px solid rgba(135, 237, 231, 0.24);
            background: rgba(255, 255, 255, 0.06);
            color: #fff;
            height: 36px;
            padding: 0 10px;
            width: 70%;
          }
        }

        .right {
          .btn-default {
            width: 120px;
          }
          a {
            margin-left: 20px;
            color: rgba(135, 237, 231, 0.55);
          }
        }
      }
    }
  }
}

footer {
  //position: absolute;
  // bottom:0px;
  // left:0px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255, 255, 255, 0.22);
  padding: 30px 0 10px 0;
  .left {
    li {
      float: left;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 16px;
        color: #fff;
      }
    }
  }
  .right {
    p {
      color: rgba(255, 255, 255, 0.43);
      font-size: 12px;
      float: left;
    }
    a {
      float: right;
      margin-left: 10px;
      img {
        height: 46px;
        width: 53px;
      }
    }
  }
}
.staking-pg {
  float: left;
  .left-main {
    width: 76% !important;
  }
  .heading-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 82px;
    margin: 50px -15px;
    .main-heading {
      width: 15%;
      align-self: center;
      margin: 0px 10px;
    }
    .stats {
      width: 48%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border: 2px solid rgba(217, 255, 253, 0.28);
      background-color: #000b30;
      padding: 20px;
      margin: 0px 10px;
      .block {
        width: 22%;
        p {
          color: rgba(255, 255, 255, 0.68);
          font-size: 12px;
          line-height: 19px;
          b {
            color: #fff;
          }
        }
        &:first-child {
          width: 34%;
          h3 {
            color: #fff;
          }
        }
      }
    }
    .total {
      width: 15%;
      height: 100%;
      border: 2px solid rgba(217, 255, 253, 0.28);
      display: flex;
      justify-content: center;
      position: relative;
      background-color: #000b30;
      margin: 0px 10px;
      .center {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        h5 {
          color: #666;
          font-size: 14px;
          align-self: flex-start;
        }
        h4 {
          color: #fff;
          font-size: 22px;
          small {
            color: #666;
            font-size: 10px;
            position: relative;
            .icon-lock {
              position: absolute;
              bottom: -20px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
    .banner {
      width: 15%;
      height: 100%;
      background: url(../images/archer-banner.png) no-repeat left top;
      background-size: 160%;
      padding: 10px;
      margin: 0px 10px;
      .center {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        h1 {
          font-size: 40px;
          line-height: 35px;
          color: #fff;
        }
        h3 {
          color: rgba(255, 255, 255, 0.43);
        }
      }
    }
  }
  .staking-options {
    .heading-row {
      margin: 0 0 15px 0;
      height: auto;
      align-items: center;
      h3 {
        color: #fff;
      }
    }
    .options-card {
      .myrow {
        .main-option-row {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          background: rgba(0, 11, 48, 1);
          border: 2px solid rgba(217, 255, 253, 0.28);
          border-bottom: 0;
          padding: 20px;
          width: 100%;
          .block {
            h3 {
              color: #fff;
            }
            p {
              color: rgba(255, 255, 255, 0.68);
              font-size: 12px;
              line-height: 19px;
              b {
                color: #fff;
              }
            }
          }
          .block.muted {
            p {
              color: rgba(255, 255, 255, 0.68);
              font-size: 12px;
              line-height: 19px;
              b {
                color: rgba(255, 255, 255, 0.68);
                font-size: 14px;
                line-height: 21px;
                font-weight: 600;
              }
            }
          }
          .block.show-hide {
            a {
              color: #87ede7;
              font-size: 12px;
              line-height: 19px;
              svg {
                margin-left: 5px;
              }
              &.active {
                svg {
                  transform: rotate(180deg);
                }
                .show {
                  display: inline-block;
                }
                .hide {
                  display: none;
                }
              }
              .show {
                display: none;
              }
            }
          }
        }
        &:last-child .main-option-row {
          border-bottom: 2px solid rgba(217, 255, 253, 0.28);
        }
        .main-option-row.hidden-row {
          display: none;
          .staking {
            width: 100%;
            background: #000b30;
            display: flex;
            // flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .left {
              // width:45%;
              h3 {
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                float: left;
                margin-right: 0px;
                .subtitle {
                  float: left;
                  display: block;
                  width: 100%;
                  font-size: 14px;
                  color: #adb0b9;
                }
              }
            }
            .right {
              width: 50%;
              display: flex;
              justify-content: flex-end;
              flex-wrap: wrap;
              align-items: center;
              input {
                border: 1px solid rgba(135, 237, 231, 0.24);
                background: rgba(255, 255, 255, 0.06);
                color: #fff;
                height: 36px;
                padding: 0 10px;
                width: 42%;
              }
              .btn-default {
                width: 120px;
                margin-left: 20px;
              }
              a {
                margin-left: 20px;
                color: #87ede7;
                text-decoration: underline !important;
              }
            }
          }
          &.active {
            display: block;
          }
        }
      }
    }
  }
  .myrow .right-main {
    width: 22% !important;
    .mcrt-staking {
      margin-top: 60px;
      .heading-row {
        margin: 0;
        height: auto;
      }
      .blocks-row .block {
        width: 100% !important;
        margin-bottom: 20px;
        p b {
          margin-right: 10px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .btn-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn-default {
          min-width: 90px;
          width: auto !important;
        }
        a {
          color: #87ede7;
          text-decoration: underline !important;
        }
      }
    }
  }

  .overlay-modal {
    display: none;
  }
}
@media (max-width: 1400px) {
  .content .myrow .right-main .staking {
    .left {
      width: calc(100% - 220px);
      input {
        width: 60%;
      }
    }
  }
}
@media (max-width: 1360px) {
  .staking-pg {
    .left-main {
      width: 68% !important;
    }
    .myrow .right-main {
      width: 30% !important;
    }
  }
}
@media (max-width: 1300px) {
  .content .myrow .left-main,
  .content .myrow .right-main {
    width: 100%;
    margin-bottom: 30px;
  }
  .content .myrow .right-main .staking {
    .left {
      input {
        width: 70%;
      }
    }
  }
}
@media (max-width: 1250px) {
  .staking-pg {
    .heading-row {
      height: auto;
      .main-heading {
        width: 100%;
        margin: 0 10px 20px 10px;
      }
      .stats {
        width: 56%;
      }
      .total {
        height: 82px;
        width: 22%;
      }
      .banner {
        height: 82px;
      }
    }
  }
}
@media (max-width: 1200px) {
  header {
    height: auto;
  }
  .staking-pg
    .staking-options
    .options-card
    .myrow
    .main-option-row.hidden-row
    .staking {
    flex-wrap: wrap;
    .left {
      width: 100%;
      margin-bottom: 20px;
    }
    .right {
      width: 100%;
      justify-content: flex-start;
      input {
        width: 100%;
        margin-bottom: 20px;
      }
      .btn {
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 992px) {
  .staking-pg .heading-row {
    .stats {
      width: 50%;
      height: 126px;
      .block {
        width: 33%;
        &:first-child {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    .total {
      width: 24%;
      height: 126px;
    }
    .banner {
      width: 17%;
      height: 126px;
    }
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .wrapper .container {
    width: 100%;
    padding: 0px;
  }

  header {
    &:before {
      width: 167px;
      height: 120px;
    }
    .my-navbar {
      .menu {
        ul {
          li {
            float: left;
            margin-left: 0px;
            width: 100%;
            text-align: center;
            line-height: auto;
            &.dropdown {
              .dropdown-menu {
                background-color: $color-brand;
                border-color: #ccc;
                li a {
                  font-size: 18px;
                  line-height: 25px;
                }
              }
            }
            a {
              color: #fff;
              font-weight: 400;
              line-height: inherit;
              font-size: 30px;
              line-height: 40px;
              display: block;
              &:hover,
              &:focus,
              &:active {
                color: #fff;
              }
            }
            // &.home{
            //     display: block;
            // }
            &:last-child {
            }
          }
        }
      }
    }
    .hamburger {
      display: block;
      float: left;
      // width: 30px;
      // height: 24px;
      width: 20px;
      height: 14px;
      position: relative;
      z-index: 1001;
      top: 21px;
      left: 20px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $color-brand;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }
      span:nth-child(1) {
        top: 0px;
      }
      span:nth-child(2) {
        top: 7px;
      }
      span:nth-child(3) {
        top: 14px;
      }

      &.open {
        span {
          background-color: #fff;
        }
        span:nth-child(1) {
          top: 8px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }
        span:nth-child(2) {
          opacity: 0;
          left: -60px;
        }
        span:nth-child(3) {
          top: 8px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }

  .menu {
    position: fixed;
    z-index: 11;
    top: 0px;
    right: -110%;
    padding: 100px 0 !important;
    width: 100vw;
    height: calc(100vh - 0px);
    background-color: #000b30;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    &.active {
      right: 0px;
    }
  }
  .content {
    .main-heading {
      margin: 30px 0 15px 0;
    }
  }
  .content .myrow {
    .left-main {
      .stats {
        padding-bottom: 0;
        .block {
          width: 50%;
          margin-bottom: 20px;
        }
      }
      .top {
        height: auto;
        .total {
          width: 100%;
          margin-bottom: 30px;
          height: 100px;
        }
        .banner {
          width: 100%;
          height: 200px;
        }
      }
    }
    .right-main {
      .mcrt-staking {
        .blocks-row {
          .block {
            width: 100%;
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .staking {
        .left {
          width: 100%;
          h3 {
            width: 100%;
            margin-bottom: 10px;
          }
          input {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  footer {
    .left {
      margin: 0 auto 20px auto;
    }
    .right {
      margin: 0 auto;
    }
  }
  .staking-pg {
    > .heading-row {
      margin-bottom: 20px;
      .banner {
        order: 2;
        width: calc(50% - 20px);
        background-size: cover;
      }
      .total {
        order: 3;
        width: calc(50% - 20px);
      }
      .stats {
        order: 4;
        width: 100%;
        margin-top: 20px;
        .block {
          width: 33%;
          &:first-child {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      }
    }

    .myrow {
      .right-main {
        order: 1;
        width: 100% !important;
        margin-bottom: 20px;
        .mcrt-staking {
          margin: 0px;
          .heading-row {
            .more-less {
              display: block;
              color: $color-brand;
              span {
                margin-right: 10px;
              }
              .more {
                display: inline-block;
              }
              .less {
                display: none;
              }
              svg {
                transform: rotate(180deg);
              }
            }
          }
          .blocks-row,
          .btn-row {
            display: none;
          }
          &.active {
            .heading-row {
              .more-less {
                svg {
                  transform: rotate(0deg);
                }
                .more {
                  display: none;
                }
                .less {
                  display: inline-block;
                }
              }
            }
            .blocks-row,
            .btn-row {
              display: block;
            }
          }
        }
      }
      .left-main {
        order: 2;
        width: 100% !important;
        margin-bottom: 0;
      }
    }
    .staking-options {
      .options-card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .myrow {
          width: 48%;
          .main-option-row {
            border-bottom: 2px solid rgba(217, 255, 253, 0.28);
            margin-bottom: 20px;
            .block {
              &.name {
                width: 100%;
                margin-bottom: 20px;
              }
              &.muted,
              &.total {
                display: none;
              }
              p b {
                font-size: 16px;
                line-height: 21px;
              }
              &.show-hide a {
                margin-top: 20px;
                display: inline-block;
                .hide {
                  display: none;
                }
                .show {
                  display: inline-block;
                }
              }
            }
          }
          .main-option-row.hidden-row.active {
            display: none;
          }
        }
      }
    }

    .overlay-modal.active {
      display: block;
      position: fixed;
      z-index: 1001;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      .options-card {
        margin: 20px;
        width: calc(100% - 40px);
        .myrow {
          .main-option-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background: rgba(0, 11, 48, 1);
            border: 2px solid rgba(217, 255, 253, 0.28);
            border-bottom: 0;
            padding: 40px 20px 20px 20px;
            width: 100%;
            .close-modal {
              position: absolute;
              right: 40px;
              top: 40px;
            }
            .block {
              width: 50%;
              h5 {
                color: #666;
              }
              h3 {
                color: #fff;
              }
              p {
                color: rgba(255, 255, 255, 0.68);
                font-size: 12px;
                line-height: 19px;
                b {
                  color: #fff;
                }
              }
              &.pb20 {
                padding-bottom: 20px;
              }
            }
            .block.name {
              width: 100%;
              margin-bottom: 20px;
            }
            .block.muted {
              border-right: 1px solid #adb0b9;
              p {
                color: rgba(255, 255, 255, 0.68);
                font-size: 12px;
                line-height: 19px;
                b {
                  color: rgba(255, 255, 255, 0.68);
                  font-size: 14px;
                  line-height: 21px;
                  font-weight: 600;
                }
              }
            }
            .block.unmute {
              padding-left: 10%;
            }
            .block.show-hide {
              a {
                color: #87ede7;
                font-size: 12px;
                line-height: 19px;
                svg {
                  margin-left: 5px;
                }
                &.active {
                  svg {
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
          &:last-child .main-option-row {
            border-bottom: 2px solid rgba(217, 255, 253, 0.28);
          }
          .staking {
            width: 100%;
            background: #000b30;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            .left {
              width: 100%;
              margin-bottom: 20px;
              h3 {
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                float: left;
                margin-right: 0px;
                .subtitle {
                  float: left;
                  display: block;
                  width: 100%;
                  font-size: 14px;
                  color: #adb0b9;
                }
              }
            }
            .right {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;
              align-items: center;
              input {
                border: 1px solid rgba(135, 237, 231, 0.24);
                background: rgba(255, 255, 255, 0.06);
                color: #fff;
                height: 36px;
                padding: 0 10px;
                width: 100%;
                margin-bottom: 20px;
              }
              .btn-default {
                width: 120px;
              }
              a {
                margin-left: 20px;
                color: #87ede7;
                text-decoration: underline !important;
              }
            }
          }
        }
      }
    }
  }
}
